.navbar {
	grid-area: n;
	background-color:aquamarine;
	padding: 20px;
}
.nav div:not(:last-child) {
	margin-bottom: 15px;
}
.item {
	
}
.link {
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
}
.item a.active {
	color: goldenrod;
	font-size: 18px;
	font-weight: 600;
	text-decoration: underline;
}
.friends__items {
	display: flex;
	column-gap: 10px;
}